/* ------------------------- BODY -------------------------  */
* {margin: 0; padding: 0;text-rendering: optimizeLegibility;} 
html, body{
    background-color:#ffffff;
    background-position: center top;
    background-repeat:no-repeat;
    background-attachment:fixed;      
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;} 
body, html, table, textarea {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; -khtml-user-select: none; 
    -moz-user-select: none; -ms-user-select: none; 
    -o-user-select: none; user-select: none;  
    z-index:1337; color: #18121e;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing:antialiased;
    font-weight:100;
    font-family: 'David Libre', serif; 
    word-wrap: break-word; text-align: justify; 
    font-smooth: always; line-height: 1.8em;   
    word-spacing:2px; font-size: 15px;}
/* ------------------------- HYPERLINKS -------------------------  */
a:link, a:active, a:visited  {
    color: #444; 
    text-decoration: none;
    -webkit-transition: 0.2s ease-in; 
    -moz-transition: 0.2s ease-in; 
    transition: 0.2s ease-in;}
a:hover {
    color: #fcbb94;
    -webkit-transition: 0.2s ease-out; 
    -moz-transition: 0.2s ease-out; 
    transition: 0.2s ease-out;}
a:focus, a:active, a:hover, a img, .mfp-arrow:active,
.mfp-arrow:hover, .mfp-arrow:focus, .mfp-close, 
.mfp-close:focus, .mfp-close:active, 
.bx-wrapper .bx-pager.bx-default-pager a:hover { 
    border:0;
    outline: 0!important; 
    outline: none !important;
    outline-offset: -2px;}
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover  {
    background: #ff99b0!important; 
    text-decoration: none;
    -webkit-transition: 0.2s ease-in; 
    -moz-transition: 0.2s ease-in; 
    transition: 0.2s ease-in;}
img, img a, img:focus, img:hover, a img{
    border:none!important;}
.mfp-figure:after { 
    background:transparent!important;}
/* ------------------------- FONTS -------------------------  */
body, html, table, textarea,  #menubar a,  #page_pagination,  #menubar a{
    font-family: 'David Libre', serif !important;}
h1, h2, h3, h4, h5, h6, .title, .title a, .title2, {
    font-family: 'Khula', sans-serif !important;} 
#bltitle {
    width:100%;
    padding:15px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
    border-bottom:1px solid #eee !important;
    color: #5BA8AC !important;
    font-family: 'Poiret One', cursive;
    margin: 0 auto 20px auto;
    text-align:left;
    font-size:45px;
    font-weight:100;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-shadow: 2px 2px 0px rgba(238, 235, 228, .3); 
    filter: dropshadow(color=rgba(238, 235, 228, .3), offx=2, offy=2);} 
.fontspacing {margin-left:15px;}
.subtitle {
    width:300px;
    font-size:7px;
    padding:10px 0;
    border-top:1px solid #ff99b0;
    line-height:190%;
    margin:40px auto;
    text-align:center;
    letter-spacing:2px; 
    font-weight:100;
    z-index:1;
    color: #444;
    font-family: 'Lato', serif !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;/*
    text-shadow: 2px 2px 0px rgba(238, 235, 228, .3); 
    filter: dropshadow(color=rgba(238, 235, 228, .3), offx=2, offy=2);*/
    text-transform:Capitalize!important;}
#bltitle, #bltitle a, #bltitle a:hover {
    color: #5BA8AC;}
/* ------------------------- COLLAPSE -------------------------  */ 
#template {
    width:990px;
    padding:20px 0 0 0;}
/* ------------------------- BODY CRAFT -------------------------  */   
#menubar {
    width:60%;
    float:right;
    margin-top:-10px;
    color:#444;
    margin-right:0!important;
    border-bottom:none!important;
    background-color:rgba(255,255,255,1);
    background-position:center center;
    background-repeat:repeat;
    background-size:50%;}
#menubar ul {
    border:none!important;
    text-align:right;
    margin:0 auto!important;}
#menubar li {
    display:inline;
    list-style-type:none!important;}
#menubar li a {
    letter-spacing:1px;
    color:#444;
    font-size:12px;
    padding:5px 15px;
    font-weight:100;
    text-transform:uppercase;}
#menubar li a:hover {
    color:#fcbb94;}
#menubar li:after {
    font-size:10px!important;
    content:'\2022';/*\2022*/
    margin-left:5px;}
#menubar li:last-child:after {
    content:'';
    margin-left:0!important;}
#template {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    clear: both;
    margin: -20px auto 0 auto; 
    overflow: hidden;
    background-position:center center;
    background-image:url('http://assets.tumblr.com/images/x.gif?v=1');
    background-color:#ffffff;
    background-position:center center;
    background-repeat:repeat;
    border-radius: 0px;
    border:1px solid #ffffff;}
#introducted {
    width:900px;
    height:480px;
    margin:0 auto;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    position:relative;}
.sideinfo {
    margin-left:0;
    width:220px;
    height:480px;
    float:left;
    margin-top:0;
    border-right:1px solid #eee;}
.sideinfo h1, #container h1 {
    text-transform:uppercase;
    line-height:45px;
    font-size:22px;
    text-align:center;}
.coding {margin-top:50px;}
.fa-code {
    margin-top:-15px;
    font-size:30px;}
.codingclass {
    font-size:8px;
    text-align:right;
    margin-right:10px;
    font-family:'Lato';}
.whtml5,.cssding,.javas {
    height: 3px;
    width: 200px;
    display: block;
    margin:0 auto 10px;
    border-radius:10px;
    background:#b8b8b8;}
.whtml5 {
    box-shadow: 190px 0px #444 inset;}
.cssding {
    box-shadow: 190px 0px #444 inset;}
.javas {
    box-shadow: 40px 0px #444 inset;}
.spacelinks ul {
    border:none!important;
    text-align:center;
    margin:0 auto!important;}
.spacelinks li {
    font-family:'Lato';
    display:block;
    font-size:8px;
    padding:15px 0;
    text-align:center;
    border-bottom:1px solid #eee;
    list-style-type:none!important;}
#container {
    margin:20px auto;
    width:580px;
    clear:right;
    text-align:justify;
    margin-right:50px;
    float:right;}
#container p{
    font-family:'Lato';
    font-size:8px;
    text-transform:uppercase;}
#container p a {
    padding:0 0 3px 0;
    border-bottom:2px solid #fcbb94;
    color:#fcbb94;}
body, html, .body, document, function {cursor: default;}
a,a:link,a:visited,a:active,a:hover, .selectinput input {cursor: pointer;}
::selection {color:#FFF; background:#fcbb94;}
::-moz-selection {color:#FFF; background:#fcbb94;}
.posts p {
    line-height: 1.7em;
    margin-top:1em;}
.posts p:first-child, p:first-of-type {
    margin-top:0em!important;}
.posts p:last-child, p:last-of-type {
    margin-bottom:0!important;}
.posts p br {
    content:" ";
    line-height:1.3em!immportant;
    display: block;}
.posts > .poetry br {
    content:" ";
    display: block;}
hr {
    width: 50%;
    height: 0.04em;
    border-radius: 100%;
    margin: 1.7em auto;
    background: #444;
    background: -webkit-gradient(
    linear, left top, right bottom,
    from(transparent), 
    color-stop(.5, #444), 
    to(transparent));
    background: -moz-linear-gradient(
    0deg, transparent,
    #444, transparent);}
small {font-size: 80%;}
b, strong  {font-weight: bold;}
i, em, italic {font-style: italic;}    
ol {list-style: decimal;}
ul {list-style: disc;}
li {line-height: 22px;} 
#footer-content {
    width:680px;
    float:right;
    margin-left:220px;
    bottom:0px;
    border-top:1px solid #eee;
    padding: 5px 0;
    position:absolute;
    background-color:#fff;
    text-align: center !important; 
    color: #233237;}
#footer-content a {color:#233237;}
#footer-content a:hover{color:#233237;}
#footer-secondary {
    clear: both; 
    width: 100%;
    display: block; 
    font-size: 6px;
    line-height:1.8em!important;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-size:4%;
    text-align: center !important; 
    color: #233237;}